@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Admin page";
}

<div>
<form method="post">
    <table class="table table-bordered">
        <caption>Table of info about users</caption>
        <tr>
            <td class="text-center">Id</td>
            <td class="text-center">Email</td>
            <td class="text-center">UserName</td>
            <td></td>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>
                    <button asp-action="Delete" asp-route-id="@user.Id" type="submit" class="btn btn-sm btn-danger">Delete</button>
                </td>
                <td>
                    <button asp-controller="PersonalPage" asp-action="IndexAdmin" asp-route-id="@user.Id" type="submit" class="btn btn-sm ">"@user.UserName" Personal Page</button>
                </td>
            </tr>
        }
    </table>
</form>
</div>