@using CourseProject.Data;
@model IEnumerable<Review> 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Title: </label>
        <input name="Title" class="form-control" />
        <label class="control-label">Grade: </label>
        <input name="Grade" class="form-control" />
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>
    <form method="post">
    <table class="table table-bordered">
        <tr>
            <td class="text-center">Id</td>
            <td class="text-center">UserId</td>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.TitleSort">Title</a>
            </th>
            <td class="text-center">Text</td>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.GradeSort">Grade</a>
            </th>
        </tr>
        @foreach (var review in Model)
        {
            <tr>
                <td>@review.Id</td>
                <td>@review.UserId</td>
                <td>@review.Title</td>
                <td>@review.Text</td>
                <td>@review.Grade</td>
                <td>
                    <button asp-action="ReadReview" asp-route-reviewId="@review.Id" type="submit" class="btn btn-sm ">Read</button>
                </td>
            </tr>
        }
    </table>
</form>
</div>