@model IEnumerable<CourseProject.Models.ReviewModel> 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post">
    <table class="table table-bordered">
        <tr>
            <td class="text-center">Id</td>
            <td class="text-center">UserId</td>
            <td class="text-center">Title</td>
            <td class="text-center">Text</td>
            <td class="text-center">Grade</td>
        </tr>
        @foreach (var review in Model)
        {
            <tr>
                <td>@review.Id</td>
                <td>@review.UserId</td>
                <td>@review.Title</td>
                <td>@review.Text</td>
                <td>@review.Grade</td>
                <td>
                    <form asp-action="ReadReview" asp-route-reviewId="@review.Id" method="post">
                        <button type="submit" class="btn btn-sm ">Read</button>
                    </form>
                </td>
            </tr>
        }
    </table>
    <a asp-action="CreateReview">Create review</a>
</form>
</div>
