@model CourseProject.Data.Review

@{
    ViewData["Title"] = "Read Review";
}
<div>
<form method="post">
    <table class="table table-bordered">
            <tr>
                <td>@Model.Id</td>
                <td>@Model.UserId</td>
                <td>@Model.Title</td>
                <td>@Model.Text</td>
                <td>@Model.Grade</td>
            </tr>
    </table>
</form>
<img src="@ViewBag.imgSrc" />