@model CourseProject.Data.Review

@{
    ViewData["Title"] = "Read Review";
}
<div>
<form method="post">
    <div>
        <span>@Model.UserName</span>
            <div class="rating-mini">
            @for (int i = 0;i < @Model.Grade; i++)
            {
                <span class="active"></span>
            }
            </div> <br>
            <hr>
                <h5>Group: @Model.Group.GroupName</h5>
                <h3>@Model.Title</h3> 
                <text>@Model.Text</text> <br>
                <img src="@ViewBag.imgSrc" />
    </div> <br>
</form>
</div>